<div>
  <header class="panel-heading">
    <h1 class="ms-5">Email Reader</h1>
  </header>
  <div class="container">
    <h2 class="mt-3">Current Mail </h2>
    <form>
      <div class="mb-3 mt-3">
        <label for="originEmail" class="form-label">Sender's email address</label>
        <input type="email" class="form-control" id="originEmail" aria-describedby="emailHelp"
               [(ngModel)]="email.from" name="from" readonly
               appHighlight>
        <div id="originEmailHelp" class="form-text">The sender of the email.</div>
      </div>

      <div class="mb-3">
        <label for="destinationEmail" class="form-label">Receiver's email address</label>
        <input type="email" class="form-control" id="destinationEmail" aria-describedby="emailHelp"
               [(ngModel)]="email.to" name="to"
               [ngClass]="email.to == ''? 'bg-danger': ''"
               appHighlight>
        <div *ngIf="!email.to.length; else elseBlockTo" class="form-text">Please enter a mail.</div>
        <ng-template #elseBlockTo><div id="destinationEmailHelp" class="form-text">The recipient of the email.</div></ng-template>

      </div>

      <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="email" class="form-control" id="subject"
               [(ngModel)]="email.subject" name="subject"
               [ngClass]="email.subject.length > 50 ? 'bg-danger' : ''"
               appHighlight>
        <div *ngIf="(email.subject.length > 50); else elseBlockSubject" class="form-text">The subject is too long.</div>
        <ng-template #elseBlockSubject><div id="subjectHelp" class="form-text">The subject of the email.</div></ng-template>
      </div>

      <div class="mb-3">
        <label for="emailContent" class="form-label">Email Content</label>
        <textarea class="form-control" id="emailContent" rows="3"
                  [(ngModel)]="email.body" name="body"
                  appHighlight></textarea>
      </div>

      <button class="btn btn-secondary mb-3" (click)="cleanFields()">Clean</button>
      <button type="submit" class="btn btn-primary mb-3 float-end" (click)="showSendMessage()">Send</button>
      <div class="row"  *ngIf="showMyMessage">
        <div class="col-xs-12">
          <p class="alert alert-success">
            <strong>Sending Success!</strong> The email '{{email.subject}}' to '{{email.to}}' has been sent.
          </p>
        </div>
      </div>

    </form>
    <hr/>
    <div class="viewer mt-3">
      <h2>Mail Viewer: </h2>
      <p>
        From: {{email.from}} <br>
        To: {{email.to}} <br>
        Subject: {{email.subject}} <br>
        Body: {{email.body}}
      </p>

    </div>
  </div>
</div>
