<div class="container">
  <div class="viewer mt-3">
    <h3> List of Mails </h3>
    <br>
    <div class="input-group mb-3"><span class="input-group-text">Filter</span>
      <input id="filter" type="text" [ngModel]="filterText" (ngModelChange)="valuechange($event)" class="form-control" placeholder="Type here...">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Subject</th>
        <th scope="col">Body</th>
        <th scope="col">Functions</th>
      </tr>
      </thead>
      <tbody class="searchable">
      <tr *ngFor="let email of emailList ">
        <td> {{email.from}} </td>
        <td> {{email.to}} </td>
        <td> {{email.subject}} </td>
        <td> {{email.body}} </td>
        <td>  <button class="btn btn-secondary btn-sm me-1"
                      [routerLink]="['../viewer']"
                      [queryParams]="{ 'mailID': email.id}"
              ><i class="bi bi-envelope-open"></i></button>
              <button class="btn btn-secondary btn-sm"
                      (click)="deleteMail(email.id)"
              ><i class="bi bi-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="float-end btn btn-primary"
          [routerLink]="['/form']"
    ><i class="bi bi-plus-lg me-2"></i>Compose</button>
  </div>
</div>

