.ng-valid[required], .ng-valid.required  {
  border-left: 10px solid green; /* green */
}

.ng-invalid:not(form), .ng-invalid.required  {
  border-left: 10px solid red; /* red */
}

.form-group {
  margin-bottom: 8px;
}
